.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 420px) {
  .container {
    width: 420px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  padding: 0;
  margin: 0;
}

.hero {
  background-size: cover;
  background-position: center;
  padding: 30px 0;
  margin: 0 auto;
  height: 300px;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(48, 48, 58, 0.4)), to(rgba(48, 48, 58, 0.4))), url(../images/building-640.jpg);
  background-image: linear-gradient(to right, rgba(48, 48, 58, 0.4), rgba(48, 48, 58, 0.4)), url(../images/building-640.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(48, 48, 58, 0.4)), to(rgba(48, 48, 58, 0.4))), url(../images/building-1280.jpg);
    background-image: linear-gradient(to right, rgba(48, 48, 58, 0.4), rgba(48, 48, 58, 0.4)), url(../images/building-1280.jpg);
  }
}
.hero__title {
  margin-left: auto;
  max-width: 200px;
  text-align: right;
  color: white;
}
.hero__logo {
  margin-bottom: auto;
  text-align: left;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  color: white;
}
.hero__container {
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(48, 48, 58, 0.4)), to(rgba(48, 48, 58, 0.4))), url(../images/building-1280.jpg);
    background-image: linear-gradient(to right, rgba(48, 48, 58, 0.4), rgba(48, 48, 58, 0.4)), url(../images/building-1280.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(48, 48, 58, 0.4)), to(rgba(48, 48, 58, 0.4))), url(../images/building-1920.jpg);
    background-image: linear-gradient(to right, rgba(48, 48, 58, 0.4), rgba(48, 48, 58, 0.4)), url(../images/building-1920.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero__container {
    height: 340px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 390px;
    font-size: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    height: 500px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(48, 48, 58, 0.4)), to(rgba(48, 48, 58, 0.4))), url(../images/building-1280.jpg);
    background-image: linear-gradient(to right, rgba(48, 48, 58, 0.4), rgba(48, 48, 58, 0.4)), url(../images/building-1280.jpg);
  }
}
@media screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(48, 48, 58, 0.4)), to(rgba(48, 48, 58, 0.4))), url(../images/building-1920.jpg);
    background-image: linear-gradient(to right, rgba(48, 48, 58, 0.4), rgba(48, 48, 58, 0.4)), url(../images/building-1920.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .hero__container {
    height: 440px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__title {
    max-width: 490px;
    font-size: 60px;
  }
}/*# sourceMappingURL=main.css.map */